<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vaults</title>

		<link rel="stylesheet" href="./style/index.css" />
		<script src="./script/toVault.js" defer></script>
	</head>
	<body>
		<div id="wrapper">
			<!-- ************ HEADER ************************ -->
			<header>
				<article class="header__title">
					<h1>The Vault</h1>
					<em>Powered by Express, PeerJS, Socket.IO</em>
				</article>
				<article class="header__logo">
					<figure>
						<img src="./pikachu.svg" />
					</figure>
				</article>
			</header>

			<!-- ************ Enter Vault ************************ -->
			<form id="form" onsubmit="fireVault();return false">
				<div>
					<label>
						You can either directly click on the 'Create Room' button or type your own desired room name
						first
					</label>
					<input id="area" placeholder="My Super Room" />
				</div>

				<article><button type="submit" id="specific" value="Create room">create room</button></article>
			</form>

			<!-- ************ HOW IT WORK ************************ -->
			<section class="how">
				<article>
					<figure><img src="https://placekitten.com/200/200" aria-hidden="true" /></figure>
					<div>
						<strong>Create a room</strong>
						<p>
							Use the big button to create and join your room. It fire my super powerful server (no) and
							give you on a silver-plate a nice cooked room. For ya.
						</p>
					</div>
				</article>
				<article>
					<figure><img src="https://placekitten.com/200/200" aria-hidden="true" /></figure>
					<div>
						<strong>Share a room</strong>
						<p>
							Each room having an unique ID as it's URL, you can easily share it with your peers and loved
							one.
						</p>
					</div>
				</article>
				<article>
					<figure><img src="https://placekitten.com/200/200" aria-hidden="true" /></figure>
					<div>
						<strong>Chill</strong>
						<p>
							Eh, it's in the title. Chill down (or work, but it would be a shame to use this for work
							purpose : please go to jitsi or wathever other good webRTC implementation. xoxo
						</p>
					</div>
				</article>
			</section>

			<!-- ************ FOOTER *************************  -->
			<footer>&copy;2020 <a href="https://otho.bike">otho.bike</a> |&nbsp;<a href="https://twitter.com/othocore">twitter</a> |&nbsp;<a href="https://www.linkedin.com/in/otho/">linkedin</a> |&nbsp;<a href="mailto:contact@otho.bike">contact@otho.bike</a>
		</div>
		
	</body>
</html>
