<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<script>
			// Get the room id from back end
			const ROOM_ID = '<%= roomId %>';
		</script>
		<!-- CDN peerjs  -->
		<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
		<!-- <script src="./script/peerjs.min.js" defer></script> -->
		<!-- local socket io-->
		<script src="/socket.io/socket.io.js" defer></script>
		<!-- main front script  -->
		<script src="./script/main.min.js" defer></script>
		<!-- control related front and basic dom manipulation script -->
		<script src="./script/controls.min.js" defer></script>

		<!-- css file for this.... file ! -->
		<link rel="stylesheet" href="./style/room.min.css" />
		<!-- In the top of the control script, inject room id in title tab -->
		<title>The Vault</title>
		<style></style>
	</head>
	<body>
		<!-- General wrapper (not used yet)-->
		<div id="wrapper">
			<!-- Name : To Be Added-->
			<div id="name"></div>
			<div id="nameSelf"></div>

			<!-- Show Controls (menu) -->
			<button id="showControls" onclick="showControls()">⚙️ Controls</button>
			<div id="controls" class="hidden">
				<article>
					<a href="/"><h1>The Vault</h1></a>
					<em>Powered by Express, PeerJS, Socket.IO</em>
					<span style="display: block" id="roomId"></span>
					<div>
						<a class="control--listen" onclick="listenSelf()">Listen to Self ?</a>
						<a id="copyLink" href="">Copy room's url to the clipboard</a>
					</div>
				</article>
			</div>
			<div id="container">
				<!-- Peers endpoint -->
				<div id="container--video"></div>
			</div>
			<!-- Self endpoint-->
			<div id="container--selfVideo"></div>
		</div>
	</body>
</html>
